@model Web_24BM.Models.Curriculum

<h1 class="text-center m-5">Detalles Curriculum</h1>

<div class="container">
    <a class="btn btn-success btn-lg fw-bold mb-4" asp-action="Index" asp-controller="Curriculum">Volver</a>

    <form asp-action="Edit" asp-controller="Curriculum" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" value="@Model.Id" />


        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <img src="~/Archivos/@Model.NombreFoto" class="rounded-circle m-auto" width="160" height="160" alt="Foto de perfil">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Información Personal</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Nombre</label>
                            <p class="card-text">@Model.Nombre</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Apellidos</label>
                            <p class="card-text">@Model.Apellidos</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Email</label>
                            <p class="card-text">@Model.Email</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Fecha de Nacimiento</label>
                            <p class="card-text">@Model.FechaNacimiento</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Direccion</label>
                            <p class="card-text">@Model.Direccion</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Información Profesional</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Objetivo</label>
                            <p class="card-text">@Model.Objetivo</p>
                        </div>
                        <div class="mb-3">
                            <label class="form-label fw-bold">Datos laborales</label>
                            <p class="card-text">@Model.DatosLaboral</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
      
    </form>
</div>



