@model IEnumerable<Web_24BM.Models.Curriculum>

<h1 class="text-center">Lista de currículums</h1>

<div class="row">
	@if (TempData["MenssageSuccess"] != null)
	{
		<div class="alert alert-success">@TempData["MenssageSuccess"]</div>
	}
	else if (TempData["ErrorMessage"] != null)
	{
		<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
	}

	<div class="col-12">
		<a class="btn btn-success mb-3 me-auto" asp-action="Create" asp-controller="Curriculum">Nuevo curriculum</a>
	</div>
	<div class="col-12">
		@if (Model.Any())
		{
			 <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>            
                <th>Foto</th>                          
                <th>Editar</th>
                <th>Eliminar</th>
                <th>Detalles</th>
                <th>Imprimir</th>
            </tr>
        </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellidos</td>
                        <td>@item.Email</td>                   
                        <td>
                         <img src="~/Archivos/@item.NombreFoto" width="130" height="130">
                        </td>                                          
                        <td>
                            <a class="btn btn-outline-secondary btn-sm" asp-controller="Curriculum" asp-route-idCurriculum="@item.Id" asp-action="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="32" viewBox="0 0 24 24" stroke-width="2.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                                        <path d="M13.5 6.5l4 4" />
                                    </svg>
                            </a>
                        </td>
                        <td>
                            <form asp-action="Delete" method="post">
											<input type="hidden" name="idCurriculum" value="@item.Id">
											<button type="submit" class="btn btn-outline-danger btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="32" height="32" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <path d="M4 7l16 0" />
                                            <path d="M10 11l0 6" />
                                            <path d="M14 11l0 6" />
                                            <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                            <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                        </svg>
                                            </button>
							</form>
                        </td>

                        <td>
                           <a class="btn btn-outline-dark btn-sm" asp-controller="Curriculum" asp-route-idCurriculum="@item.Id" asp-action="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="32" height="32" viewBox="0 0 24 24" stroke-width="2.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                                        <path d="M12 9h.01" />
                                        <path d="M11 12h1v4h1" />
                                    </svg>
                           </a>
                        </td>

                        <td>
                           <a class="btn btn-outline-warning btn-sm" asp-controller="Curriculum" asp-route-idCurriculum="@item.Id" asp-action="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-printer" width="32" height="32" viewBox="0 0 24 24" stroke-width="2.5" stroke="#597e8d" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                                        <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                                        <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" />
                                    </svg>
                           </a>
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
			
		}
	</div>
</div> 